name: Go

on:
  push:
    branches: [main]
  pull_request: ~

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.24"]
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt install wv unrtf tidy

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Build ${{ matrix.go }}
        run: go build -v ./...

      - name: Test ${{ matrix.go }}
        run: go test -v -race ./...
